.vs/
*.dir/
x64/
x32/
**/*.vcxproj*
*.pc
*.make

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

*.vcxproj
*.vcxproj.filters
*.sln
compileData.*

# VSCode
.vscode/

# Compile Score
*.scor

# Builds
Builds/*

# Engine data
**/*.scene

audio/Test.opus

# Most of the Dotnet SDK
**/lib/**/packs
**/lib/**/sdk*
**/lib/**/shared
**/lib/**/templates