.vs/
*.dir/
bin/*
out/*
Engine/bin/*
Engine/out/*
Release/
Debug/
x64/
x32/
**/*.vcxproj*
*.pc

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

*.vcxproj
*.vcxproj.filters
*.sln
compileData.*

# Engine data
**/*.scene